<main>
  <div class="container">
    <section class="row">
      <%= render partial: 'section_header', locals: {link_active_index: 0} %>
      <div class="content col-md-10 nopadding">
        <div class="col-md-7 nopadding">
          <%= render partial: 'promo_article', locals: {size: 'big', image: 'prod1.jpg'} %>
        </div>
        <div class="col-md-5">
          <%= render partial: 'promo_article', locals: {size: 'small', image: 'prod2.jpg'} %>
          <%= render partial: 'promo_article', locals: {size: 'small', image: 'prod3.jpg'} %>
        </div>
      </div>
    </section>
    <section class="row">
      <%= render partial: 'section_header', locals: {link_active_index: 1} %>
      <div class="content col-md-10 nopadding">
        <% 2.times do %>
            <div class="content-row">
              <div class="row">
                <% index=1 %>
                <% 6.times do %>
                    <div class="col-md-2">
                      <%= render partial: 'article', locals: {image: index} %>
                      <% index+=1 %>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </section>
    <section class="row">
      <%= render partial: 'section_header', locals: {link_active_index: 2} %>
      <div class="content col-md-10 nopadding">

        <div class="content-row">
          <div class="row">
            <% index=7 %>
            <% 3.times do %>
                <div class="col-md-4">
                  <%= render partial: 'article', locals: {image: index, show_data: true} %>
                  <% index+=1 %>
                </div>
            <% end %>
          </div>
        </div>

      </div>
    </section>
    <section class="row">
      <%= render partial: 'section_header', locals: {link_active_index: 3} %>
      <div class="content col-md-10 nopadding">
        <div class="content-row">
          <div class="row">
            <% index=1 %>
            <% 6.times do %>
                <div class="col-md-2">
                  <%= render partial: 'article', locals: {image: index, show_price_promotion: true} %>
                  <% index+=1 %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
