<header id="header" data-hook>
  <div class="header-xs visible-xs">
    <nav class="navbar navbar-default" role="navigation" id="all_cuban_navbar">
      <div class="navbar-header">
        <div class="col-xs-8">
          <a class="navbar-brand" href="<%= root_path %>"><%= image_tag('logo1.png') %></a>
        </div>
        <div class="pull-right">
          <ul>
            <li>
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                      data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <%= render :partial => 'spree/shared/basic_navigation' %>
          <li class="limit">
            <div></div>
          </li>
          <%= render partial: 'spree/shared/secondary_navigation' %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="collapsed" aria-expanded="false">
              <%= Spree.t(:'i18n.language') %><i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse" aria-expanded="false" style="height: 0px;">
              <% I18n.available_locales.each do |locale| %>
                  <li>
                    <a href="<%= set_locale_path(:switch_to_locale => locale) %>"><%= locale %></a>
                  </li>
              <% end %>
            </ul>
          </li>
          <li>
          <li class="limit">
            <div></div>
          </li>
          <li>
            <div id="xs-sub-menu">
              <label for="search-xs">Search</label>
              <%= render :partial => 'spree/shared/search' %>
              <%= render :partial => 'spree/shared/network_navigation' %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-xs visible-sm visible-md visible-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-5 nopadding">
          <div class="logo">
            <%= link_to image_tag('logo1.png'), spree.root_path %>
          </div>
        </div>
        <div class="col-sm-8 col-md-7">
          <%= render :partial => 'spree/shared/nav_bar' %>
          <div class="status-area">
            <div><%= t(:welcome) %>
              <span id="user_name"><%= spree_current_user.nil? ? 'Guest' : link_to(spree_current_user.email, spree.account_path) %></span>
            </div>
            <div id="link-to-cart">
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              <script>Spree.fetch_cart()</script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
  </div>
</header>