<%
  show_data||=false
  show_price_promotion||= true
%>
<article class="home-product">
  <figure>
    <%= link_to small_image(p, itemprop: "image",  class: 'img-responsive'), p %>
  </figure>
  <div class="title"><%= p.name %></div>
  <div class="price" itemprop="price"><%= display_price p%>
    <sub itemprop="priceCurrency" class="<%=current_currency.downcase%>">
      <%= current_currency%>
    </sub>
  </div>
  <% if show_price_promotion %>
      <div class="price before">$72.00 <sub class="usd">(usd)</sub></div>
  <% end %>
  <div class="action">
    <%= render :partial => 'cart_form', locals: {product:p} %>
  </div>
</article>